.bookmark-body {
  background-color: #ffffff;
  color: #000000;
}

.bookmark-header {
  background-color: #ffffff;
  color: #000000;
}

.bookmark-form {
  background-color: #ffffff;
}

.bookmark-form-input {
  background-color: #ffffff;
}

.bookmark-form-submit {
  background-color: #000000;
}

.list-name {
  background-color: #ffffff;
}

.nav-title-bookmarks {
  position: fixed;
  bottom: 22px;
  left: 17px;
}

.cancel {
  background-color: #333333;
  color: #ffffff;
  position: fixed;
  bottom: 0px;
  left: 5px;
}

.bookmark-form-submit-index {
  background-color: #35af95;
  color: #ffffff;
  position: fixed;
  bottom: -56px;
  right: 5px;
}

.form-label {
  font-size: 16px;
}

.trash {
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 17px;
  border-bottom: 1px solid;
}
.edit {
padding-right: 5px;
padding-left: 5px;
padding-bottom: 5px;
padding-bottom: 17px;
border-bottom: 1px solid;
}
