// Specific CSS for your home-page
@import "bourbon";

$border-color: #FF4040;
$checkbox-size: 1rem;
$checkedbox-size: 1.2rem;

$dark:   #15171E;
$white:  mix($dark, white, 20%);

.title {
  font-size: 100px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.sub_title {
  font-size: 50px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.checkbox {
  margin: 15px;
}

ul {
  list-style-type: none;
}

label {
  font-family: Helvetica;
  letter-spacing: 1px;
  // font-variant: small-caps;
  // text-transform: uppercase;
}

// checkbox styles start

@keyframes pull{
    0% { height: 0; }
    100% { height: 1.2rem;  }
}

@keyframes pop {
  0% { opacity:0; }
  75% {opacity:1; }
  100% { transform: scale(1.2); }
}

.checkbox-flip, .checkbox-pop, .checkbox-pull, .checkbox-spin {
    display:none;
}

.checkbox-flip + label span,
.checkbox-pop + label span,
.checkbox-pull + label span,
.checkbox-spin + label span{
    display:inline-block;
    width:25px;
    height:19px;
    margin: 0 5px -4px 0; /*layout relationship between check and label*/
    &:before,
    &:after {
      @include transition(all .3s ease-in-out);
      content: "";
      position: absolute;
      z-index: 1;
      width: $checkbox-size;
      height: $checkbox-size;
      background: transparent;
      border: 2px solid $border-color;
    }
     &:after {
      z-index: 0;
      border: none;
    }
}

.checkbox-flip:checked + label span {
     &:before {
      background: $border-color;
    }
}

.checkbox-pop:checked + label span {
  &:before {
      animation: pop .3s ease;
      z-index: 100;
      background: $border-color;
     }
}

.checkbox-pull:checked + label span {
     &:after {
      width: $checkedbox-size;
      height: $checkedbox-size;
      background: $border-color;
      animation: pull .4s linear;
     }
}

.checkbox-spin:checked + label span {
     &:before {
      background: $border-color;
    }
}
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*, html,body{
	padding:0px;
	margin:0px;
	box-sizing:border-box;
	font-family:'Poppins', sans-serif;
}

.range input{
	-webkit-appearance:none;
	width:400px;
	height:4px;
	border-radius:5px;
	background-color:#ba3950;
	outline:none;
}
.range input::-webkit-slider-thumb{
	-webkit-appearance:none;
	width:20px;
	height:20px;
	border-radius:50%;
	background-color:#a83348;
}
.range span{
	position:absolute;
	margin-left:14px;
	width:50px;
	height:30px;
	background-color:#222;
	color:#da4545;
	border-radius:3px;
	text-align:center;
	line-height:30px;
}
.range span:before{
	content:'';
	position:absolute;
	border-right:9px solid transparent;
	border-left:9px solid transparent;
	border-bottom:12px solid #222;
	left:-10px;
	top:50%;
	transform:translateY(-50%) rotate(-90deg);
}


.custom-checkbox-input {
  display: none;
}

.custom-checkbox-text {
  padding: 1px 25px;
  background-color: #906d73;
  color: #ffffff;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border-radius: 15px;
}

.custom-checkbox-input:checked ~ .custom-checkbox-text {
  background-color: #a83348;
  color: #ffffff;
}

div {
  margin-top: 0px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #ffffff;
}

body {
  margin: 40px;
}

.dropdown {
  position: relative;
  font-size: 14px;
  color: #333;

  .dropdown-list {
    padding: 12px;
    background: #fff;
    position: absolute;
    top: 30px;
    left: 2px;
    right: 2px;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .15);
    transform-origin: 50% 0;
    transform: scale(1, 0);
    transition: transform .15s ease-in-out .15s;
    max-height: 66vh;
    margin: 0px;
    display: flex;
    flex-direction: column;
    width:150px;
  }

  .dropdown-option {
    display: block;
    padding: 8px 12px;
    opacity: 0;
    transition: opacity .15s ease-in-out;
  }

  .dropdown-label {
    display: block;
    height: 30px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 6px 12px;
    line-height: 1;
    cursor: pointer;
    width: 150px;

    &:before {
      content: '▼';
      float: right;
    }
  }

  &.on {
   .dropdown-list {
      transform: scale(1, 1);
      transition-delay: 0s;

      .dropdown-option {
        opacity: 1;
        transition-delay: .2s;
      }
    }

    .dropdown-label:before {
      content: '▲';
    }
  }

  [type="checkbox"] {
    position: relative;
    top: -1px;
    margin-right: 4px;
  }
}

.btn-rounded {
  display: inline-block;
  background-color: #000000;
  width: 112px;
  height: 56px;
  padding: 16px 36px;
  border-radius: 50px;
  color: rgb(255, 255, 255);
  text-align: center;
}


.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  // background-color: red;
}

.p {
  font-family: Arial, sans-serif;
  text-align: center;
}

.randomise-text {
  color: rgb(0, 0, 0);
  font-size: 30px;
  text-align: center;
}

.randomise-button-container {
  // display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: auto;

}

.randomise-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding: 16px 36px;
  border-radius: 150px;
  width: 300px;
  height: 300px;
  color: rgb(248, 248, 248);
  border: none;
}


.range {
  display: inline-block;
  // justify-content: center;
  // align-items: center;
}
