// Specific CSS for your home-page
@import "bourbon";

.title-container {
  width: 360px;
  margin: auto;
  margin-top: 30;
}

.title {
  text-align: start;
  font-size: 20px;
  font-weight: 300;

}

.subtitle {
  font-size: 50px;
  font-weight: 300;
}


.form-container {
  width: 360px;
  margin: auto;
}
