// Import page-specific CSS files here.
@import "home";


body {
  background: #ffffff;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  margin: 0;
  padding: 0;
}

body.home {
  background: gray;
  color: black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.custom-checkbox {
  margin-top: 10px;
}

.photo {
  display: flex;
  flex-wrap: wrap;
}

.square {
  display: flex;
  flex-direction: row;
}

.squarePhoto {
  width: 120px;
  height: 120px;
  margin: 7px;
}

.reqtanglePhoto {
  width: 120px;
  height: 254px;
  margin: 7px;
}

.bottom-buttons {
  margin: 7px;
  text-decoration: none;
  padding: 3px 10px;
  background-color: #00FFF6;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  width: 119px;
  font-size: 11px;
  text-align: center;
}

.bottom-buttons-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.all-show {
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.bookmark-div {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 0px;
  color: black
}

.bookmark-left {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

.bookmark-right {
  color: rgb(0, 0, 0);
  font-size: 20px;
}

p {
  font-size: 13px;
  color: rgb(0, 0, 0);
}


.List {
  text-decoration: none;
  border-bottom: 1px solid #000000;
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 12px;
  font-size: 17px;
}

.list-div {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.bookmark-form {
  margin-left: 20px;
}

.bookmark-form-submit {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.bookmark-form-input {
  width: 95%;
}

.bottom-links {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 50%;
  background-color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom-div {
  width:95%;
  background-color: #ffffff;

}

.bottom-div-home {
  width:95%;
  background-color: #ffffff;

}

.home-symbol {
  color: #cbd5e1;
}

.bottom-div-all {
  margin-top: 20px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 90%;
}

.bottom-links-bookmark {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 5px 50%;
}

.list-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #ffffff;
  margin:0;
}

.parent {
  position: relative;
}

.child-left {
  position: absolute;
  left: 2%;
  top: -21px;
  margin-right: -10px;
}

.child-middle {
  position: absolute;
  left: 60%;
  top: -10%;
  transform: translate(-50%, -50%);
  font-size: 25px;
  width: 281px;
}
