.log-in-all {

}

.title-div-log {

}

.title-login {
  width: 50%;
  margin: auto;
  margin-top: 20%;
  text-align: center;
  font-weight: 500;
  margin-bottom: 10%;
  letter-spacing: 5px;
}

.form-login-sm {

}

.form-inputs {

}

.email-login {
  border-radius: 7px;
  width: 95%;
  margin-right: 2.5%;
}

.form-actions {

}

.submit-login {
  width: 95%;
  background-color: #b25174;
  color: white;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.sign-up-login {
  padding: 12px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  background-color: #717171;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.log-in-sign-up {
  padding: 12px;
  text-decoration: none;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 95%;
  background-color: #717171;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.forget-pass-login {
  text-decoration: none;
  margin-left: 2.5%;
  font-weight: bolder;
  color: #d265a1;
}

.form-inputs {
  margin-left: 2.5%;
}
