<div class="footer mt-auto">
  <div class="footer-bookmark-home">
    <div class="col bottom-div">
      <%= link_to raw('<i class="fa fa-home"></i>'), root_path, class: "bookmark bottom-links" %>
    </div>
    <div class="col bottom-div">
          <%= link_to bookmarks_path, class: "bookmark bottom-links" do %>
        <i class="fa fa-bookmark"></i>
      <% end %>
    </div>
  </div>
</div>
