
<div class="mt-auto">
  <div class="footer-bookmark-home border-t border-slate-200 bg-slate-500">
    <div class="col bottom-div-home">
      <%= link_to root_path, class: "bookmark-left bottom-links bg-slate-500" do %>
      <i class="fa fa-home home-symbol"></i>
      <% end %>
    </div>
    <div class="col bottom-div">
          <%= link_to bookmarks_path, class: "bookmark-right bottom-links bg-slate-500" do %>
        <i class="fa fa-bookmark bookmark-symbol"></i>
      <% end %>
    </div>
  </div>
</div>
