
<div class="mt-auto">
  <div class="row">
    <div class="col bottom-div">
      <%= link_to raw('<i class="fa fa-home"></i>'), root_path, class: "bookmark bottom-links text-white" %>
    </div>
    <div class="col bottom-div">
          <%= link_to bookmarks_path, class: "bookmark bottom-links text-white" do %>
        <i class="fa fa-bookmark"></i>
      <% end %>
    </div>
  </div>
</div>
