
/* Button used to open the contact form - fixed at the bottom of the page */


.open-button {
  background-color: #000;
  color: white;
  padding: 13px 3px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  top: 25px;
  right: 23px;
  width: 110px;
  border-radius: 5px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  top: 110px;
  right: 0px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: #f1f1f1;
  width: 100%;
  padding-top: 37px;
  padding-bottom: 40px;
}
/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D !important;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.form-pop {
  background-color: #f1f1f1;
}

.form-pop-input {
  background-color: #f1f1f1;
}

.form-pop-submit {
  background-color: #f1f1f1;
}

.form-select {
  background-color: #f1f1f1;
}

.bookmark-form-submit-index {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  text-decoration: none;
  padding: 10px;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
}

.bookmark-form-input-index {
  width: 95%;
  background-color: #ffffff;
  margin-left: 4px;
}
